h1{
    padding-top: 6%;
}
.col{
    margin-top: 4%;
}
#nav{
    font-weight: bolder;
    font-size:x-large;
    color: rgb(241, 59, 46);
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: rgba(148, 202, 250, 0.712);
}
#card{
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.498);
    border-radius: 12px;
    border: 1px solid rgb(249, 222, 40);
}
h4{
    color: rgb(241, 195, 46); 
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }